<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.my.app" level="debug" />
	
	<logger name="mybatis.sql" level="info" />
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core" level="info" />

	<logger name="org.springframework.beans" level="info" />

	<logger name="org.springframework.context" level="info" />

	<logger name="org.springframework.web" level="info" />

	<logger name="org.springframework.jdbc" level="info" />

	<logger name="org.mybatis" level="info" />
	
	<logger name="com.zaxxer.hikari" level="info" />
	
	<logger name="log4jdbc.log4j2" level="error" />
	<logger name="jdbc.sqlonly" level="off" />
	<logger name="jdbc.sqltiming" level="info" />
	<logger name="jdbc.audit" level="off" />
	<logger name="jdbc.resultset" level="off" />
	<logger name="jdbc.resultsettable" level="info" />
	<logger name="jdbc.connection" level="off" />

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>